/*is this how you access div inside div of class form?*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

div.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height:fit-content;
    background-color: var(--slightHighlight);
    padding:20px;
    margin:20px;
    border-radius: 30px;
}

input{
    
    height: 100px;
    width: 550px;
    border: none;
    background:var(--accentLight);
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    margin-top:10px;
    font-size: 30px;
}

.form a:hover{
    text-decoration: underline;
    cursor:pointer;
}

img{
    height:100px;
    border: 50%;
}