/*
styling for flashcards
*/
/*colors*/
:root {
  --light-blue: rgba(198, 220, 228, 1);
  --blue-accent: rgba(116, 170, 190, 1);
  --brown: rgba(81, 58, 42, 1);
  --bg: rgba(205, 192, 175, 1);
}

/*idk what this is*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lilita+One:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/*main card style stuff?*/
.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .frame-wrapper {
  width: 1440px;
  height: 1024px;
}

.desktop .frame {
  position: relative;
  height: 1024px;
  overflow: hidden;
}

.desktop .overlap {
  position: absolute;
  width: 874px;
  height: 541px;
  top: 242px;
  left: 284px;
  border-radius: 100px;
  border: 3px solid;
  border-color: #513a2a;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .rectangle {
  position: relative;
  width: 813px;
  height: 486px;
  top: 24px;
  left: 28px;
  background-color: var(--light-blue);
  border-radius: 100px;
  box-shadow: 0px 5px 5px #00000040;
}

.desktop .nav-frame {
  position: absolute;
  width: 400px;
  height: 120px;
  top: 801px;
  left: 540px;
}

.desktop .arrow-left-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
}

.desktop .arrow-right-circle {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 280px;
}

.desktop .flip-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 40px;
  position: absolute;
  top: 23px;
  left: 122px;
  background-color: #74aabe;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: #cdc0af;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .menu {
  display: flex;
  flex-direction: column;
  width: 161px;
  align-items: center;
  gap: 65.29px;
  padding: 16.12px 0px;
  position: absolute;
  top: 163px;
  left: 1253px;
  background-color: #d8d2c3;
  border-radius: 8px;
  border: 3px solid;
  border-color: #513a2a;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .deck-btn {
  position: relative;
  width: 161.21px;
  height: 128.97px;
}

.desktop .overlap-group {
  position: absolute;
  width: 135px;
  height: 84px;
  top: 17px;
  left: 18px;
}

.desktop .div {
  position: absolute;
  width: 124px;
  height: 74px;
  top: 0;
  left: 0;
  background-color: var(--blue-accent);
  border-radius: 20.15px;
  box-shadow: 0px 3.22px 3.22px #00000040;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 124px;
  height: 74px;
  top: 10px;
  left: 11px;
  background-color: var(--light-blue);
  border-radius: 20.15px;
  box-shadow: 0px 3.22px 3.22px #00000040;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 106px;
  left: 19px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 19.3px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .edit {
  position: relative;
  width: 83.02px;
  height: 83.02px;
}

.desktop .settings {
  position: relative;
  width: 78.19px;
  height: 78.19px;
}

.desktop .div-wrapper {
  position: absolute;
  width: 1440px;
  height: 120px;
  top: 22px;
  left: 1px;
  background-color: #d8d2c3;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 3px;
  left: 592px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .progress {
  position: absolute;
  width: 236px;
  height: 280px;
  top: 372px;
  left: 25px;
  background-color: #d8d2c3;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid;
  border-color: #513a2a;
  box-shadow: 0px 4px 4px #00000040;
}

.desktop .accuracy {
  position: absolute;
  width: 243px;
  height: 167px;
  top: 93px;
  left: -4px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 94px;
  top: 24px;
  left: 17px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 130px;
  top: 70px;
  left: 17px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 118px;
  top: 117px;
  left: 17px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 9px;
  left: 16px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--brown);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 49px;
  left: 43px;
  font-family: "Lilita One", Helvetica;
  font-weight: 400;
  color: var(--blue-accent);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}



/*
#idxCard{
    width: 800px;
    height: 400px;
    background-image: url('../imgs/cardFrame.png');
    background-size: 800px 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#cardText{
    font-size:30px;
    margin-right:10px;
    margin-left:10px;
}
.cardNav button{
    background-color: var(--darkBrown);
    color: var(--slightHighlight);
    height: 40px;
    width: 80px;
    border-radius: 15px;
    margin-top: 30px;
    border-color: var(--slightHighlight);
    transform: translateY(-35%); /* pull it up by half its own height to center vertically *
}
.cardNav input, img{
    height: 60px;
    filter: brightness(0) saturate(100%) invert(22%) sepia(7%) saturate(2535%) hue-rotate(342deg) brightness(95%) contrast(89%);
}
.cardNav{
      display: flex;
      justify-content: center; /* centers horizontally *
      align-items: center;     /* centers vertically *
}
img{
    float:left;
    margin-left:10px;
}
#deckTitleText{
    margin-bottom: 10px;
}
div.iconBtn{
    position:absolute;
    float:left;
}
div.iconBtn input{
    height:60px;
}
#pencilBtn{
    transform:translateY(-75px);
}
#settingsBtn{
    position: absolute;
    float:left;
    transform: translateX(-57px)
}
/*styling for check and x buttons*
    input.correctness{
        height:50px;
        position: absolute;
        display: none;
    }
    #right{
        transform: translate(-30px,150px);
    }
    #wrong{
        transform: translate(30px,150px);
    }

#studyProgress{
    display:"none";
    background: var(--slightHighlight);
    float: right;
    padding: 10px;
    margin-right: 10px;
}


/*popup card selection*
    div.popup{
        max-height: 300px;
        width: 300px;
        padding:7px;
        overflow-y:auto;
        overflow-x:hidden;
        background-color:var(--slightHighlight);

        display: none;
    }
    div.popup div{
        height: 40px;
        width: 290px;
        margin-bottom:10px;
        background-color: var(--bgColor);
        padding:4px;
    }
    /*to do: make this look better*
    div.backShadow{
        position:fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:9999;

        background-color: var(--darkBrown);
        padding-left:5px;
        padding-bottom:5px;
        border-radius: 5px;

        display: none;
    }
*/