/*
styling for flashcards
*/
#idxCard{
    width: 800px;
    height: 400px;
    background-image: url('../imgs/cardFrame.png');
    background-size: 800px 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#cardText{
    font-size:30px;
}
.cardNav button{
    background-color: var(--darkBrown);
    color: var(--slightHighlight);
    height: 40px;
    width: 80px;
    border-radius: 15px;
    margin-top: 30px;
    border-color: var(--slightHighlight);
    transform: translateY(-35%); /* pull it up by half its own height to center vertically */
}
.cardNav input, img{
    height: 60px;
    filter: brightness(0) saturate(100%) invert(22%) sepia(7%) saturate(2535%) hue-rotate(342deg) brightness(95%) contrast(89%);
}
.cardNav{
      display: flex;
      justify-content: center; /* centers horizontally */
      align-items: center;     /* centers vertically */
}
img{
    float:left;
    margin-left:10px;
}
#deckTitleText{
    margin-bottom: 10px;
}
div.iconBtn{
    position:absolute;
    float:left;
}
div.iconBtn input{
    height:60px;
}
input.correctness{
    height:50px;
    position: absolute;
    display: none;
}
#right{
    transform: translate(-30px,150px);
}
#wrong{
    transform: translate(30px,150px);
}


/*popup card selection*/
    div.popup{
        max-height: 300px;
        width: 300px;
        padding:7px;
        overflow-y:auto;
        overflow-x:hidden;
        background-color:var(--slightHighlight);

        display: none;
    }
    div.popup div{
        height: 40px;
        width: 290px;
        margin-bottom:10px;
        background-color: var(--bgColor);
        padding:4px;
    }
    /*to do: make this look better*/
    div.backShadow{
        position:fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:9999;

        background-color: var(--darkBrown);
        padding-left:5px;
        padding-bottom:5px;
        border-radius: 5px;

        display: none;
    }
