body{
    background-image: url("../imgs/flippyGrid.png");
    overflow-x: hidden;
}
.inputs div{
    margin-bottom: 15px;
}

.form input{
    height: 50px;
    max-width:1000px;
    border: none;
    background:var(--accentLight);
    background-size:cover;
    font-size: 20px;
    font-family: monospace;
}
textarea{
    max-height: 150px;
    max-width:400px;
    min-height: 57px;
    min-width: 200px;
    border: none;
    background:var(--accentLight);
    /*background-image: url('../imgs/cardFrame.png');*/
    background-size:cover;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}
textarea.term{
    text-align:center;
    margin-right: 15px;
}

.inputs h1{/*to do: make number centered with input*/
    display:inline;
}

/*for quizlet upload textbox*/
textarea.upload{
    max-height: 500px;
    max-width:800px;
    min-height: 500px;
    min-width: 700px;
}

.button{
    margin-top: 10px;
    font-size: 20px;
}
#addCardsBtn{
    max-height:70px;
}
#addCardsBtn img{
    height: 25px;
    rotate: 180deg;
    transform: translate(3px,-3.5px);
}

.header h2{
    text-align:center;
}
.header h2:hover{
    cursor:pointer;
    text-decoration:underline;
}