/*
styling that applies to several pages
*/
:root{
    --bgColor: #CDC0AF;
    --accentDark: #74AABE;
    --accentLight: #C6DCE4;
    --mainText: #393B3B;
    --slightHighlight: #D8D2C3;
    --darkBrown: #513A2A;
}

body{
    /*background-image: url("../imgs/flippyGrid.png");*/
    background-color: var(--bgColor);
    background-size: 800px;
    color: var(--mainText);
    font-family:monospace;
    color: var(--darkBrown);
}
.center{
    display: block;
    margin: auto;
    text-align: center;
}

div.header{
    background-color: var(--slightHighlight);
    padding: 20px;
    width:100%;
    margin-top:20px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
a{
    text-decoration:none;
    color:#513A2A;
}

/*button stuff!*/
    .button{
        padding: 15px 25px;
        background-color: var(--accentDark);
        border-radius: 20px;
        box-shadow: 0px 4px 4px #00000040;
        font-size: 20px;
        color: var(--bgColor);
        border:none;
    }
    .button:hover{
        background-color: var(--darkBrown);
        cursor:pointer;
    }
   

/*popup selection menu*/
    div.popup{
        max-height: 300px;
        width: 300px;
        padding:7px;
        overflow-y:auto;
        overflow-x:hidden;
        background-color:var(--slightHighlight);

    }
    div.popup div{
        height: 40px;
        width: 290px;
        margin-bottom:10px;
        background-color: var(--bgColor);
        padding:4px;
    }
    /*to do: make this look better*/
    div.backShadow{
        position:fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:9999;

        background-color: var(--darkBrown);
        padding-left:5px;
        padding-bottom:5px;
        border-radius: 5px;

        display: none;
    }


