/*
styling that applies to several pages
*/
:root{
    --bgColor: #CDC0AF;
    --accentDark: #74AABE;
    --accentLight: #C6DCE4;
    --mainText: #393B3B;
    --slightHighlight: #D8D2C3;
    --darkBrown: #513A2A;
}

body{
    /*background-image: url("../imgs/flippyGrid.png");*/
    background-color: var(--bgColor);
    background-size: 800px;
    color: var(--mainText);
    font-family:monospace;
    color: var(--darkBrown);
}
.center{
    display: block;
    margin: auto;
    text-align: center;
}

div.header{
    background-color: var(--slightHighlight);
    padding: 20px;
    width:100%;
    margin-top:20px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}

button{
    background-color: var(--darkBrown);
    color: var(--slightHighlight);
    height: 40px;
    width: 80px;
    border-radius: 15px;
    margin-top: 30px;
    border-color: var(--slightHighlight);
    transform: translateY(-35%); /* pull it up by half its own height to center vertically */
}
